footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff28;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0%;
}

.borda {
    border-top: 2px solid #38e1ff;
}

footer .line-footer p i {
    color: #38e1ff;
    font-size: 25px;
}

footer .line-footer p a {
    color: #fff;
}