section.top-of-the-site {
    padding: 40px 4%;
}

section.top-of-the-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.top-of-the-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.top-of-the-site .txt-top-site h1 span {
    color: #38e1ff;
}

.top-of-the-site .txt-top-site p {
    color: #fff;
    margin: 40px 0;
}

.top-of-the-site .img-top-site img {
    position: relative;
    animation: fluter 2s ease-in-out infinite alternate;
}

@keyframes fluter {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}
